@font-face {
    font-family: ash;
    src: url(./NeueHaasDisplay-Mediu.ttf);
}
@font-face {
    font-family: ash1;
    font-weight: 200;
    src: url(./NeueHaasDisplay-Roman.ttf);
}
*{
    margin:0;
    padding: 0;
    font-family: "ash";
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #EFEAE3;
}
body{
    overflow-x: hidden;
    background-color: #EFEAE3;
}
#main{
    position: relative;
    z-index: 10;
   
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 2.5vw 3vw;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    position: relative;
    z-index: 100;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000007d;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #fff;
}
nav h3{
    display: none;
}

#center{
    height: 80vh;
    width: 100%;
    
    display:flex ;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.259);
}
#center #left h3{
    margin-top: 20vw;
    font-size: 2.2vw;
    width: 32vw;
    line-height: 2.5vw;
}
#center #right h1{
    margin-top: 7vw;
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#circle-shape{
    position: absolute;
    height: 36vw;
    width: 46vw;
    right: 0;
    top: 78vh;
   
}
#circle1{
    height: 100%;
    width: 100%;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}
#circle2{
    height: 100%;
    width: 100%;
    background-color: #FE320A;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anim2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#circle3{
    height: 100%;
    width: 100%;
    background-color: #FE320A;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anim1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anim1 {
    from{
        transform: translate(45%,-3%);
    }
    to{
        transform: translate(0,10%);
    }
    
}
@keyframes anim2 {
    from{
        transform: translate(5%,-3%);
    }
    to{
        transform: translate(-20%,20%);
    }
    
}
#page1 video{
    position: relative;
    border-radius: 30px;
    width: 100%;
    margin-top: 4vw;
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}
#moving-text{
    overflow-x: auto;
    white-space: nowrap;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
.cont{
    display: inline-block;
    white-space: nowrap;
    animation-name: move1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-text h1{
    font-size: 9vw;
    display: inline-block;
}
 .dot{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 2vw; 
}

@keyframes move1 {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#page2-bottom{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw;
    position: relative;
    z-index: 9;
}
#page2-bottom h1{
    font-size: 4vw;
    line-height: 4vw;
    width: 60%;
}
#bottom-part2{
    width: 20%;
}
#bottom-part2 img{
    width: 100%;
    border-radius: 15px;
}
#bottom-part2 p{
    font-weight: 200;
    font-size: 1vw;
    font-family: ash1;
    margin-top: 2vw;
    
}

#page2 #bottom-circle{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    position: absolute;
    top: 60%;
    left: 30%;
    filter: blur(20px);
    animation-name:move ;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes move {
    from{
        transform: translate(7%,-7%) skew(0);
    }
    to{
        transform: translate(-7%,7%) skew(-10deg);
    }
    
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 6vw 0;
}

.elem{
    height: 150px;
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

}

.elem h1{
    padding: 0 2.5vw;
    font-size: 3vw;
    z-index: 9;
}
.elem .elem-part2{
    font-size: 1vw;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    flex-direction: column;
    line-height: 1.5vw;
    padding: 0 2.5vw;
    z-index: 9;
}
.elem .elem-part2 h4:nth-child(2){
    color: #25252573;
    font-family: ash1;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    background-color: #FF9831;
    transition: all ease 0.3s;
}
.elem:hover .overlay{
    top:0%;
}
#mob-elem{
    display: none;
}
#mob-elem1{
    display: none;
}

#fixed-image{
    height: 28vw;
    width: 22vw;
    z-index: 99;
    border-radius: 20px;
    position: fixed;
    top: 25%;
    left: 50%;
    display: none;
    background-size: cover;
    background-position: center;
}
#fixed-image {
    pointer-events: none;
}
#page3 button{
    margin-top: 3vw;
    margin-left: 2vw;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid rgba(43, 43, 43, 0.662);
    border-radius: 50px;
    padding: 1vw 1.2vw;
    color: #000;
    transition: all ease 0.4s;
    overflow: hidden;
    z-index: 9;
    display: inline-block;
    background-color: #EFEAE3;
}
#page3 button::after{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
    z-index: -1;
}
#page3 button:hover::after{
    bottom: 0;
    border-radius: 0;
}
#button{
    display: inline-block;
}
#button:hover button{
    color: #fff ;
   transition: all ease 0.4s;
}

#page4{
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bigcontainer{
    height: 90%;
    width: 95%;
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
#text{
    margin-left:10%;
    width: 30%;
}
#text h2{
    font-size: 4vw;
    border-left: 1px solid #fff;
    padding: 0 2vw;
}
#text p{
    font-family: ash1;
    font-weight: 200;
    margin-top: 1vw;
}
#image{
    height: 100%;
    width: 50%;
}
#image img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
#bottom-page4{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 3vw;
    margin-top: 4vw;
    margin-right: 80%;
}
#bottom-page4 h4{
    font-family: ash1;
    font-weight: 100;
    font-size: .9vw;
}
#bottom-page4 img{
    height: 10px;
}

#page5{
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 2vw;
    position: relative;
}



.swiper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .swiper-slide {
    
    margin-right: 65vw;
    width: 30%;
    border-left: 1px solid #aeadad;
    padding: 0 2vw;
  }
  .swiper-slide:nth-child(6){
    border-right: 1px solid #aeadad;
  }
  .swiper-slide p{
    margin-top: 1.9vw;
    width: 70%;
    font-family: ash1;
  }
#page6{
    height: 100vh;
    width: 100%;
}
#footer{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    bottom: 0;
    z-index: 9;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: #fff;

}
#footer h1{
    font-size: 23vw;
    padding: 0 2vw;

}
#footer-top{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}
#footer-top h2{
    font-size: 3vw;

}
#footer-top-right{
    font-size: .9vw;
}
#footer-top-right h4{
    color: #969393;
    margin-top: 1vw;
    line-height: 1.5vw;
    border-bottom: 1px solid #8c8888a2;

}
#footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
    margin-left: 3vw;
    margin-right: 3vw;
    border-top:1px solid #8c8888a2;
    line-height: 2vw;
   
}
#footer #shape1{
    position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    top: -50%;
    left: -20%;
    width: 90%;
    height: 90%;
    animation-name: shape1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
}
#footer #shape2{
    position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    right: -27%;
    top: -27%;
    width: 70%;
    height: 90%;
    animation-name: shape2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
}
@keyframes shape1 {
    from{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(-20deg);
    }
}
@keyframes shape2 {
    from{
        transform: rotate(30deg);
    }
    to{
        transform: rotate(45deg);
    }
}

#full-scr{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: #1d1c1c81;
    top: -100%;
    transition: all ease 0.5s;
}
/* #full-div1{
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
} */

@media (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    #page1{
        min-height: 100vh;
        width: 100vw;
        background-color: #EFEAE3;
        padding: 2.5vw 3vw;
    }
    #page1 nav{
       padding: 8vw 5vw;
       background-color: #EFEAE3;
    }
    #page1 nav img{
        height: 9vh;
    }
    #nav-part2{
        display: none;
    }
    nav h3{
        display: block;
        border: 1px solid #979494;
        padding: 3vw 5vw;
        border-radius: 50px;
        font-size: 4vw;
        font-family: ash1;
        font-weight: 200;

    }

    #center{
        display: flex;
        width: 100%;
        height: 50vh;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column-reverse;
        border-bottom: 1px solid #BFBBB6;
        padding-bottom: 0vh;
    }
    #center #left h3{
        width: 90%;
        font-size: 6vw;
        font-weight: 800;
        line-height: 6vw;
    }
    #right{
        padding-right: 4vw;
        padding-top: 8vw;
    }
    #center #right h1{
        text-align: right;
        line-height: 15vw;
        font-size: 16vw;
        padding: 5;
    }
    
    #circle-shape{
        width: 59vw;
        height: 66vw;
        position: absolute;
        right: 0;
        top: 65vh;
    }
    #circle1{
        height: 100%;
        width: 100%;
        background-color: #FE320A;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        filter: blur(20px);
        position: absolute;
    }
    #page1 video{
        margin-top: 4vh;
        width: 92%;
        object-fit: cover;
        object-position: center;
        height: 60vh;
        margin-left: 4%;
        border-radius: 12px;
        position: relative;
    }
    .dot{
        height: 4vw;
        width: 4vw;
        border-radius: 50%;
        background-color: #FE330A;
        display: inline-block;
        margin: 1vw 2vw;
    }
    #page2,#page3,#page4,#page5,#page6{
        max-width: 100vw;
        overflow: hidden;
        height: 100%;
    }
    #page2-bottom{
        height: 90vh;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        padding: 15vw 4vw;
        position: relative;
        z-index: 9;
    }
    #page2-bottom h1{
        font-size: 7vw;
        line-height: 8vw;
        width: 100%;
    }
    #bottom-part2{
        width: 80%;
    }
    #bottom-part2 img{
        width: 100%;
        border-radius: 10px;
    }
    #bottom-part2 p{
        font-weight: 200;
        font-size: 3.8vw;
        font-family: ash1;
        margin-top: 2vw;
        
    }
    
    #page2 #bottom-circle{
        height: 62vw;
        width: 62vw;
        border-radius: 50%;
        background: linear-gradient(to top right, #ff2d03, #ff5c0b);
        position: absolute;
        top: 40%;
        left: 30%;
        filter: blur(20px);
        animation-name:move ;
        animation-duration: 6s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
    #footer{
        position: fixed;
        height: 100%;
        max-width: 100vw;
        background-color: black;
        color: #EFEAE3;
        bottom: 0%;
        z-index: -1;
    }
    #footer #shape2{
        display: none;
    }
    #fixed-image{
        display: none;
    }
    .elem{
        display: none;
    }
    #mob-elem1{
        display: block;
    }
    #mob-elem{
        background-color: #EFEAE3;
        display: flex;
        flex-direction: column;
        padding: 4vw;
        gap: 1vh;
    }
    #mob-elem img{
        width: 100%;
        height: 50vh;
        object-position: center;
        object-fit: cover;
        border-radius: 16px;
    }
    #mob-elem h2{
        font-weight: 700;
        font-size: 9vw;
    }
    #mob-elem1 h4{
        font-weight: 400;
        font-size: 6vw;
        font-family: ash1;
        margin-left: 4vw;
    }
    #mob-elem1 p{
        font-weight: 200;
        color: rgb(173, 167, 167);
        font-size: 4vw;
        font-family: ash1;
        margin-left: 4vw;
    }
    #page3 button{
        font-size: 6vw;
        padding: 2vw 3vw;
        font-family: ash1;
    }
    #page4{
        min-height: 100vh;
    }
    .bigcontainer{
        height: 80vh;
        margin: 1vw 5vw;
        background-color: black;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #image{
        width: 100%;
        height: 53%;
        object-fit: cover;
        object-position: center;
        border-radius: 15px;
    }
    #text{
        color: #EFEAE3;
        display: flex;
        flex-direction: column;
        padding:3vh 0vw;
        margin-right: 10vw;
        width: 80%;
    }
  
    #text h2{
        font-size: 7vw;
        font-weight: bolder;
        font-family: ash1;
    }
    #text p{
        margin-top: 6vw;
        font-size: 4vw;
    
    }
    #bottom-page4{
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0 3vw;
        margin-top: 15vw;
        margin-right: 40%;
    }
    #bottom-page4 h4{
        font-family: ash1;
        font-weight: 100;
        font-size: 5vw;
    }

    .swiper {
        min-height: 26vh;
        padding: 7vh 6vw;
    }
    
    .swiper-slide img {
        display: inline-block;
        position: relative;
        object-fit: cover;
        width: 100%;
    }
    
    .swiper-slide p {
        width: 100%;
        color: #2a2929f4;
        font-size: 2vh;
    }
    
    .swiper-slide {
        width: 68%;
        padding-left: 8vw;
        padding-top: 2vh;
        margin-right: 0vw;
    }
    #page6 {
        min-height: 76vh;
    }
    #footer{
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: #000;
        bottom: 0;
        z-index: 9;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        color: #fff;
    
    }
    #footer h1{
        font-size: 23vw;
        padding: 0vw 2vw;
        padding-top: 5vw;
        margin-top: 25%;
        margin-bottom: 2vw;
    
    }
    #footer-top{
        display: flex;
        flex-direction: column;
        top: 15%;
        align-items: flex-start;
    }
   
    #footer h2 {
        font-size: 12vw;
    }
    #footer-top-right{
        
    }
    #footer-top-right h3{
        font-size: 5vw;
        font-family: ash1;
        font-weight: 100;
        padding-top: 5vw;
        margin-bottom: 3vw;
    }
    #footer-top-right h4{
        font-size: 5vw;
        color: #969393;
        margin-bottom: 4vw;
        line-height: 10vw;
        border-bottom: 1px solid #8c8888a2;
        font-family: ash1;
        font-weight: 100;
    }
    #footer-bottom{
        padding: 3vw 2vw;
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5vw;
        font-family: ash1;
        font-weight: 100;
       
    }
    #footer #shape1 {
        top: -5%;
        left: -2%;
        width: 100%;
        height: 81%;
        filter: blur(30px);
    }
    #footer #shape2{
        display: none;
    }
    @keyframes shape1 {
        from{
            transform: rotate(-70deg);
        }
        to{
            transform: rotate(-80deg);
        }
    }
    #loader{
        height: 100vh;
        max-width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
    }
    #loader h1{
        font-size: 5vh; 
        margin-bottom: 50%;   
    }

   
    
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #000;
    z-index: 9999;
    top:0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-timing-function: linear;
    animation-duration: .7s;
    animation-delay: .7s;
}
#loader h1:nth-child(2){
    animation-delay: 1.5s;
}
#loader h1:nth-child(3){
    animation-delay: 2.4s;
}
@keyframes load{
    0%{
        opacity:0;
    }
    10%{
        opacity:1;
    }
    90%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
}